<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hexadecimal Converter</title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <div class="formContainer">
      <div class="formBox">
        <h1>Decimal ↔️ Hexadecimal</h1>
        <form action="/hex/convertDecToHex" method="GET">
          <input
            type="number"
            name="decimalNumber"
            id="decimalNumber"
            placeholder="Digite um número decimal"
          />
          <button type="submit">Converter</button>
        </form>
        <form action="/hex/convertHexToDec" method="GET">
          <input
            type="text"
            name="hexadecimalNumber"
            id="hexadecimalNumber"
            placeholder="Digite um número hexadec."
          />
          <button type="submit">
            Converter
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
