<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Base Converter</title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>

    <div class="indexMessage">
      <h1>Escolha qual base você deseja converter nas opções acima!</h1>
    </div>
  </body>
</html>
