<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Binary Converter</title>
  </head>
  <body>
    <%- include ('./partials/header.ejs') %>
    <h1>oct</h1>
  </body>
</html>
