<header>
  <div class="headerDescription">
    <h1>Base Converter</h1>
    <p>Calculadora para conversões de base numérica</p>
  </div>

  <div class="headerOptions">
    <a href="/bin"><button>Binário</button></a>
    <a href="/oct"><button>Octal</button></a>
    <a href="/hex"><button>Hexadecimal</button></a>
  </div>
</header>
